/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
html{
	font-size:90%;
}

body{
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1{
	font-size:1.7em;
}
h2{
	color: #435080;	
	font-size:1.4em;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 0;
}
h3{
	font-size:1.4em;
	font-style:italic;
	font-weight:normal;
	margin-bottom: 0;
}
h4{
	font-size:1.0em;
	font-weight:bold;
	font-style:italic;
	margin-bottom: 0;
}
 
#page,
.region-bottom {
  margin: 0 auto;
  max-width: 1000px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
.region-sidebar-second{
	padding:0;
}
.region.region-top {
	margin-top: 15px;
}
#block-block-5 {  /* top ad area */
	margin-bottom: 10px;
}
/* Style for ads on page */
#div-gpt-ad-1385408245560-2{
	text-align:center;
}
.additionRight{
	text-align:center;
}

#logo {
	display: block;
	margin-top: 10px;
	min-height: 63px;
}

/* Footer */
#footer .region {
  width: 25%;
  float: left;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}
/* Navigation bar */
#navigation{
	background-color: #4f75b1;
	background-image: -moz-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -webkit-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -o-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -ms-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: linear-gradient(180deg, #4f75b1, #445281 113%);
	border-radius: 5px;
	height: 22px;
}
#navigation .menu li{
	background: none no-repeat scroll 7px 8px transparent;
	display: inline-block;
	float: none;
	font-weight: bold;
	height: 28px;
	margin-top: 0;
	text-transform: uppercase;
	width: auto;
}
#navigation .menu li a, .sf-menu .nolink {
	color: #FFFFFF;
	display: block;
	font-size:13px;
	font-weight: bold;
	height: 22px;
	margin-top: 0;
	padding: 10px 15px 0;
	text-decoration: none;
}
.sf-menu .nolink{ /* Header in menu */
	font-size:1.0em;
}
#navigation .menu li a:hover, #navigation .nolink:hover{
	background-color: #445280;
	color: lightskyblue;
}
a > .sf-sub-indicator {
	top: 11px;
}
.sf-sub-indicator {
	right: 0px;
}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
	background-color: #445280;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px solid #fff;
	border-top: none;
}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
	left: 0;
	top: 32px;
}
#navigation .menu li ul li{
	display:block;
	float:none;
}
.sf-menu .active{
	text-decoration:underline !important;
}

/* SLIDESHOWS */
.views-slideshow-controls-bottom {
	margin: -10px 0 10px 0;
}
#widget_pager_bottom_slideshow-default {
	text-align: center;
}
.views-field-counter {
	background: #ccc;
	border-radius: 10px;
	cursor:pointer;
	display: inline-block;
	width: 15px;
}
.active .views-field-counter{
	background:#777F91;
}
.views-content-counter{
	visibility:hidden;
}
.views-slideshow-pager-field-item {
	display:inline-block;
	color:#ccc;
	margin-left: 5px;
}

/*  SEARCH BOX */
#block-search-form {
	background: #ddd;
	padding: 15px 10px;
}
#edit-search-block-form--2{
	background: #fff url(../../images/search.ltr.png) right top no-repeat;
	width: 100%;
}
#search-block-form .form-submit{
	display:none;
}
/* HOME PAGE STYLES */
.front{
	line-height:1.0em;
}
.front h2, .sidebars h2{
	border-bottom: 1px solid #555;
	color:#111;
	margin-bottom: 7px;
	margin-top: 2px;
	padding-bottom: 2px;
}
.front p {
	margin-bottom: 0;
}
.pane-slideshow {
	margin-bottom: -5px;
}

.panels-flexible-region-2-center{  /* homepage in the news */
	padding-left: 10px !important;
	width: 30%;
}
.panels-flexible-row-2-main-row {
	margin-bottom: 15px !important;
}
/*
.front .view {
	margin-bottom: 40px;
}
.front .view-slideshow {
	margin-bottom: -10px !important;
}
*/
.view-footer {
	font-size: 0.8em;
	text-align: right;
}

/* homepage blocks at bottom */
.panels-flexible-row-last {
	margin-top: 10px !important;
	padding-top: 20px !important;
}
/* publish ahead of print row */
.panels-flexible-row-last .panels-flexible-region-inside {
	padding-left: 15px;
	padding-right: 15px;
}
#homePanel .panels-flexible-row:nth-child(3) .panels-flexible-region:nth-child(2){
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
}

.page-features-stem-cells-young-investigator-award .views-field-title {
	font-size: 20px;
}
.front .views-field-title a, .front .pane-block ul li a {
	font-size: 1.0em !important;
}
.front .views-row, .front .pane-custom p, .front .pane-block ul li, #block-aggregator-feed-3 ul li {
	border-bottom: 1px dashed #999;
	color: #444;
	font-size: 0.9em;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.views-slideshow-cycle-main-frame-row-item{
	border-bottom:none !important;
}
.panels-flexible-row-2-1 {
	margin-bottom:-20px !important;	
}
 /* homepage journal club discussions */
#homePanel .panels-flexible-row:nth-child(2) .panels-flexible-region-first:nth-child(1){
	border-right: 1px solid #ddd;
	padding-right: 5px;
}
#homePanel .panels-flexible-row:nth-child(2) .panels-flexible-region-first:nth-child(1) .views-field-title {
	font-size: 1.1em;	
}
 
.front .pane-block ul{		/* Publish ahead of print blocks in homepage panel */
	list-style:none;
	margin: 0;
	padding-left:0;
}
.front .more-link a{
	font-size: 0.8em;
	letter-spacing: 1px;
	text-transform: capitalize;
}

/*  CIRM right nav block */
#block-aggregator-feed-3 .block__title {
	display: none;
}
#block-aggregator-feed-3 ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 10px;
}
#block-block-12 {
	margin-bottom: -15px;
	border: 1px solid #ccc;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
	padding:5px;
}
#block-aggregator-feed-3{
	border: 1px solid #ccc;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top:none;
	padding: 5px 10px 10px;
}


/*  PAGE ARTICLE STYES */
.breadcrumb {
	border-bottom: 1px solid #eee;
	font-size: .85em;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

.node-readmore a {
	display: block;
	font-size: .9em;
	text-align: right;
}
.landingIntro{
	margin-top:0;
}
.views-field-created, .submitted {
	color: #777;
	font-size: 0.85em;
}
 #block-aggregator-feed-3 ul li a {
	color: #435080;	
	font-weight: bold;
	text-decoration: none;
 }
.views-field-title a, .front .pane-block ul li a {
	color: #435080;	
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.3em;
	text-decoration: none;
}
a{
	color: #435080;	
}
p{
	margin-top:0;
}
.not-front .views-row .field-content p{
	font-size: 0.95em;
	/*margin-bottom:0;*/
}
.not-front .views-row {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1em;
}
.views-field-nid{
	font-size: 0.8em;
	margin-right: 20px;
	text-align: right;
}
.views-field-nid a{
	text-decoration: none;
}
#tableSister td {  /* on sisters journal page */
	padding: 0 20px 0 0;
}

/* LOGIN FORM */
#user-login-form{
	padding: 5px 15px;
}
#user-login-form label{
	display:inline;
	font-weight: normal;
}
#user-login-form .item-list{
	margin-top: 20px;
	position:absolute;
}
#user-login-form .item-list ul, #block-system-user-menu ul.menu{
	list-style: none;
	padding:0;
}
#user-login-form .item-list li{
	float:left;
}
#user-login-form .item-list li a{
	font-size: 0.8em;
}
#block-system-user-menu .menu__link{
	float:left;
	font-size: 0.8em;
}
#user-login-form .item-list li.first {
	margin-right: 10px;
}
#user-login-form .form-actions {
	margin-bottom: 30px;
	text-align: right;
}
#user-login-form .form-item, #block-system-user-menu .menu{
	margin:8px 0 !important;
}
#user-login-form .form-text {
	width: 177px;
}
#user-login-form #edit-pass {
	margin-left: 3px;
}
#user-login-form .form-submit {
	background-color: #4f75b1;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin-right: 12px;
	padding: 6px 13px;
	text-transform: uppercase;
}
#block-system-user-menu .menu__item.is-leaf {
	list-style-image: none;
	list-style-type: none;
}
#block-system-user-menu{
	margin-bottom: 50px;
}
#block-system-user-menu .menu .first a {
	margin-right: 10px;
}

/* COMMENTS SECTION */
#comments {
	border: 1px solid #dde;
	border-radius: 5px;
	margin-top: 15px;
	padding: 15px;
}
.comments__form-title {
	border-bottom: 1px solid #999;
}

/* FOOTER  */
#footer {
	background: #586683;  
	border-top: 1px solid #999;
	color: #CCCCCC;
	font-size: 0.8em;
	line-height: 1.5em;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 10px;
}
#footer p{
	margin:0;
	padding:0;
}
#footer .intro{
	margin-top: -15px;
	padding-left: 7px;
}
#footer a {
	color: #EEEEEE;
	font-size: 99%;
	text-decoration:none;
	vertical-align: top;
}
#footer a:hover {
	text-decoration:underline;
}
#footer h4 {
	border-bottom: solid 1px#999;
	font-weight:normal;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}
#footer ul{
	list-style:none;
	margin:0 0 20px;
	padding:0;
}





/* responsive CSS */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: 32px;
    width: 100%;
  }
}
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* Span 2 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 65%;
    margin-left: 34%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 34%;
    margin-left: 0%;
    margin-right: -34%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
#page{
	border:1px dashed red;
	max-width: 100%;
	padding-left: 5px;
}
  /* Span 2 columns, starting in 1st column from left. */
.sidebar-second #content {
	float: left;
	margin-left: 0%;
	margin-right: -65%;
	width: 65%;
}

  /* Span 1 column, starting in 3rd column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    margin-left: 65%;
    margin-right: -100%;
    width: 35%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* Start a new row and span all 3 columns. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }

  /* Apply the shared properties of grid items in a single, efficient ruleset. */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/path/to/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* Span 1 column, starting in the 1st column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }

  /* Span 1 column, starting in the 2nd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in the 3rd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 4 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 4 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 68%;			  /* was 80 */
    margin-left: 0%;
    margin-right: -68%;  /* was 80 */
	padding-right: 0;
  }

  /* Span 1 column, starting in 5th column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 30%;			/* was 20 then margin-left 80 */
    margin-left: 70%;  
    margin-right: 0; /* was -100% */
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 3 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
