/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
body{
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
 
#page,
.region-bottom {
  margin: 0 auto;
  max-width: 1000px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
.region-sidebar-second{
	padding:0;
}

#logo {
	display: block;
	margin-top: 10px;
	min-height: 73px;
}

/* Footer */
#footer .region {
  width: 25%;
  float: left;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}
/* Navigation bar */
#navigation{
	background-color: #4f75b1;
	background-image: -moz-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -webkit-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -o-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -ms-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: linear-gradient(180deg, #4f75b1, #445281 113%);
	border-radius: 5px;
	height: 22px;
}
#navigation .menu li{
	background: none no-repeat scroll 7px 8px transparent;
	display: inline-block;
	float: none;
	font-weight: bold;
	height: 28px;
	margin-top: 0;
	text-transform: uppercase;
	width: auto;
}
#navigation .menu li a{
	color: #FFFFFF;
	display: block;
	font-size:13px;
	font-weight: bold;
	height: 23px;
	margin-top: 0;
	padding: 10px 15px 0;
	text-decoration: none;
}
#navigation .menu li a:hover{
	background-color: #445280;
}
a > .sf-sub-indicator {
	top: 11px;
}
.sf-sub-indicator {
	right: 2px;
}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
	background-color: #445280;
	border-bottom-left-radius: 8px;
	border: 1px solid #fff;
	border-top: none;
}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
	left: 0;
	top: 32px;
}
#navigation .menu li ul li{
	display:block;
	float:none;
}

/*  SEARCH BOX */
#block-search-form {
	background: #ddd;
	padding: 15px 10px;
}
#edit-search-block-form--2{
	background: #fff url(../../images/search.ltr.png) right top no-repeat;
	width: 100%;
}
#search-block-form .form-submit{
	display:none;
}


/*  PAGE ARTICLE STYES */
.breadcrumb {
	border-bottom: 1px solid #eee;
	font-size: .85em;
	margin-bottom: 10px;
	padding-bottom: 3px;
}
h2{
	color: #435080;	
	font-weight: normal;
	margin-bottom: 0;
}

.node-readmore a {
	display: block;
	font-size: .9em;
	text-align: right;
}
.landingIntro{
	margin-top:0;
}
.views-field-created {
	color: #777;
	font-size: 0.85em;
}
.views-field-title a {
	color: #435080;	
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
}
a{
	color: #435080;	
}
	p{
	margin-top:0;
}
.not-front .views-row .field-content p{
	font-size: 0.95em;
	margin-bottom:0;
}
.not-front .views-row {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1em;
}
.views-field-nid{
	font-size: 0.8em;
	margin-right: 20px;
	text-align: right;
}
.views-field-nid a{
	text-decoration: none;
}




@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: 32px;
    width: 100%;
  }
}

/* FOOTER  */
#footer {
	background: #333333;
	border-top: 1px solid #999;
	color: #CCCCCC;
	font-size: 0.8em;
	line-height: 1.5em;
	margin-bottom: 10px;
	padding: 10px;
}
#footer p{
	margin:0;
	padding:0;
}
#footer .intro{
	margin-top: -15px;
	padding-left: 7px;
}
#footer a {
	color: #EEEEEE;
	font-size: 99%;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer h4 {
	border-bottom: solid 1px#999;
	font-weight:normal;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}
#footer ul{
	list-style:none;
	margin:0 0 20px;
	padding:0;
}


/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 2 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in 3rd column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* Start a new row and span all 3 columns. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }

  /* Apply the shared properties of grid items in a single, efficient ruleset. */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/path/to/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* Span 1 column, starting in the 1st column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }

  /* Span 1 column, starting in the 2nd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in the 3rd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 4 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 4 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 68%;			  /* was 80 */
    margin-left: 0%;
    margin-right: -68%;  /* was 80 */
  }

  /* Span 1 column, starting in 5th column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 30%;			/* was 20 then margin-left 80 */
    margin-left: 70%;  
    margin-right: 0; /* was -100% */
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 3 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
