/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
html{
	font-size:87%;
}

body{
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1{
	font-size:1.7em;
}
h2{
	color: #435080;	
	font-size:18px; /* was 1.4em */
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 0;
}
h3{
	font-size:1.2em;
	font-style:italic;
	font-weight:normal;
	margin-bottom: 0;
}
h4{
	font-size:1.0em;
	font-weight:bold;
	font-style:italic;
	margin-bottom: 0;
}
 
#page,
.region-bottom {
  margin: 0 auto;
  max-width: 1000px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
.followUL li{ height: 35px;} 
.followUL li img{ margin:0 6px 0 6px; width: 20px; height: 20px; }
.region-sidebar-second{
	padding:0;
}
.region-sidebar-second .block {
	margin-bottom: 20px;
}
.region-top {
	margin-top: 15px;
}
#block-block-5 {  /* top ad area */
	margin-bottom: 10px;
}
/* Style for ads on page */
#div-gpt-ad-1385408245560-2{
	text-align:center;
}
.additionRight{
	text-align:center;
}

#logo {
	display: block;
	margin-top: 10px;
	min-height: 63px;
}

/* Footer */
#footer .region {
  width: 25%;
  float: left;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}
/* Navigation bar */
#navigation{
	background-color: #4f75b1;
	background-image: -moz-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -webkit-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -o-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: -ms-linear-gradient(180deg, #4f75b1, #445281 113%);
	background-image: linear-gradient(180deg, #4f75b1, #445281 113%);
	/*border-radius: 5px;*/
}
#navigation .menu li{
	background: none no-repeat scroll 7px 8px transparent;
	display: inline-block;
	float: none;
	font-weight: bold;
	height: 28px;
	margin-top: 0;
	text-transform: uppercase;
	width: auto;
}
#navigation .menuparent li a{  /* sub-menus */
	font-weight:300 !important;
	letter-spacing: 1px;
	text-transform: capitalize;
}
#menu-1076-1 ul{ /* FEATURES sub-menu */
	padding-bottom: 25px !important;
	width: 32em;
}
#navigation .menu li a, .sf-menu .nolink {
	color: #FFFFFF;
	display: block;
	font-size:13px;
	font-weight: bold;
	height: 22px;
	margin-top: 0;
	padding: 10px 15px 0;
	text-decoration: none;
}
.sf-menu .nolink{ /* Header in menu */
	font-size:1.0em;
}
#navigation .menu li a:hover, #navigation .nolink:hover{
	background-color: #445280;
	color: lightskyblue;
}
a > .sf-sub-indicator {
	top: 11px;
}
.sf-sub-indicator {
	right: 0px;
}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
	background-color: #445280;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #7982A0;
	border-top: none;
}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
	left: 0;
	top: 32px;
}
#navigation .menu li ul li{
	display:block;
	float:none;
}
.sf-menu .active{
	text-decoration:underline !important;
}

/* SLIDESHOWS */
.views-slideshow-controls-bottom {
	margin: -10px 0 10px 0;
	position: relative;
	z-index: 9;
}
#widget_pager_bottom_slideshow-default {
	text-align: center;
}
.views-field-counter {
	background: #ccc;
	border-radius: 10px;
	cursor:pointer;
	display: inline-block;
	width: 15px;
}
.active .views-field-counter{
	background:#777F91;
}
.views-content-counter{
	visibility:hidden;
}
.views-slideshow-pager-field-item {
	display:inline-block;
	color:#ccc;
	margin-left: 5px;
}

/*  SEARCH BOX */
#block-search-form {
	background: #ddd;
	padding: 15px 10px;
	margin-bottom: 0;
}
#edit-search-block-form--2{
	background: #fff url(../../images/search.ltr.png) right top no-repeat;
	width: 100%;
}
#search-block-form .form-submit{
	display:none;
}
/* HOME PAGE STYLES */
.front{
	line-height:1.0em;
}
.front h2, .sidebars h2{
	border-bottom: 1px solid #555;
	color:#111;
	margin-bottom: 7px;
	margin-top: 2px;
	padding-bottom: 2px;
}
.not-front  h2 a {
	border-bottom: 1px solid;
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}
.not-front header h2 a {  /* taxonomy landing pages */
	border-bottom:none;
	margin-bottom: 0;
}
.front p {
	margin-bottom: 0;
}
.pane-slideshow {
	margin-bottom: -5px;
}

.panels-flexible-region-2-center{  /* homepage in the news */
	padding-left: 10px !important;
	width: 30%;
}
.panels-flexible-row-2-main-row {
	margin-bottom: 15px !important;
}
/*
.front .view {
	margin-bottom: 40px;
}
.front .view-slideshow {
	margin-bottom: -10px !important;
}
*/
.view-footer {
	font-size: 0.8em;
	text-align: right;
}
.view-footer-journal-club {
	font-size: 1em;
	text-align: right;
}
#block-block-8{
 background-color:#eef;
 border-radius: 8px;
 padding: 15px;
}
#block-block-8 h2{
  display:none;
}

/*
.front #panel-views-home-article-scan h2, #panel-views-home-stemcell-buzz h2 {
	display: none;
}
*/

/* homepage blocks at bottom */
.link-homepage {
	text-decoration: none;
}
.link-homepage:hover {
	color:#4E71A2;
	/*text-decoration:underline;*/
}
.panels-flexible-row-last {
	margin-top: 10px !important;
	padding-top: 20px !important;
}
/* publish ahead of print row */
.panels-flexible-row-last .panels-flexible-region-inside {
	padding-left: 15px;
	padding-right: 15px;
}
#homePanel .panels-flexible-row:nth-child(3) .panels-flexible-region:nth-child(2){
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
}

.page-features-stem-cells-young-investigator-award .view-views-features-stem-cells-young-investigator-award-latest1 .views-field-title,
.page-features-sctm-young-investigator-award .view-sctm-young-investigator-award-recent .views-field-title {
	font-size: 20px;
}
.front .views-field-title a, .front .pane-block ul li a{
	font-size: 1.0em;
}
.not-front .sidebars a {
	font-size: 12px;
}

.front .views-row, .front .pane-custom p, .front .pane-block ul li, #block-aggregator-feed-3 ul li {
	border-bottom: 1px dashed #fff;
	color: #444;
	font-size: 0.9em;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.front .views-row:hover, .front .pane-custom p:hover, .front .pane-block ul li:hover, #block-aggregator-feed-3 ul li:hover {
	border-bottom: 1px dashed #999;
}
.not-front .sidebars ul li{
	line-height:1.0em;
}
.views-slideshow-cycle-main-frame-row-item{
	border-bottom:none !important;
}
.panels-flexible-row-2-1 {
	margin-bottom:-20px !important;	
}
 /* homepage journal club discussions */
#homePanel .panels-flexible-row:nth-child(2) .panels-flexible-region-first:nth-child(1){
	border-right: 1px solid #ddd;
	padding-right: 5px;
}
#homePanel .panels-flexible-row:nth-child(2) .panels-flexible-region-first:nth-child(1) .views-field-title {
	font-size: 1.1em;	
}
 
.front .pane-block ul{		/* Publish ahead of print blocks in homepage panel */
	list-style:none;
	margin: 0;
	padding-left:0;
}
.front .more-link a{
	font-size: 0.8em;
	letter-spacing: 1px;
	text-transform: capitalize;
}

/*  CIRM right nav block */
.not-front .view-views-home-cirm-scblog {
	font-size: 87%;
}
#block-aggregator-feed-3 .block__title {
	display: none;
}
#block-aggregator-feed-3 ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 10px;
}
#block-block-12 {
	margin-bottom: -15px;
	border: 1px solid #ccc;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
	padding:5px;
}
#block-aggregator-feed-3{
	border: 1px solid #ccc;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top:none;
	padding: 5px 10px 10px;
}

#block-views-views-home-cirm-scblog-block-1{
	margin-bottom: 0px;
}

.view-cirm-block-aggregator-feed-3{
	border: 1px solid #ccc;
	border-top:none;
	border-bottom:none;
	padding: 5px 10px 0px;
}

.block.block-picture-above-proceedings {
	margin-bottom: 0px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	padding: 5px;
}
.views-home-pcsca{
	border: 1px solid #ccc;
	border-top:none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 0px 10px 10px;
}


/*  PAGE ARTICLE STYES */
.not-front .page__title{
	font-size: 1.7em;
	line-height: 1.3em;
	margin-bottom: 10px !important;
}
.breadcrumb {
	border-bottom: 1px solid #eee;
	font-size: .85em;
	margin-bottom: 10px;
	padding-bottom: 3px;
}
.landingIntro{
	margin-top:0;
}
.views-field-created, .submitted, .article-date {
	color: #777;
	font-size: 11px;  /* was 0.85em */
}
 #block-aggregator-feed-3 ul li a {
	color: #435080;	
	font-weight: bold;
	text-decoration: none;
	line-height:1.0em !important;
 }
.views-field-title a, .front .pane-block ul li a {
	color: #435080;	
	font-weight: bold;
	line-height: 1.3em;
	text-decoration: none;
}
.views-field-title a{
	font-size: 1.25em;
}
.section-page-proceeding-california-stem-cell-agency #content .views-field-title a{
	font-size: 1.5em;
}
.section-page-proceeding-california-stem-cell-agency #content ul li{
	font-size: 0.95em;
}

a{
	color: #435080;	
}
p{
	margin-top:0;
}
.page-taxonomy-term-262 article header{  /* specific to taxonomy term = perspecitves */
	display:none;
}
.page-taxonomy-term-262 h2, .page-taxonomy-term-256 h2 {
	display: none;
}
.section-taxonomy .views-row .field-content p,
.not-front .views-row .field-content p{
	font-size: 0.95em;
	/*margin-bottom:0;*/
}
.section-taxonomy article,
.not-front .views-row {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1em;
}

.node-readmore,
.views-field-nid{
	display: block !important;
	font-size: 0.8em;
	margin-right: 20px;
	text-align: right;
}
.node-readmore a,
.views-field-nid a{
	text-decoration: none;
}
#tableSister td {  /* on sisters journal page */
	padding: 0 20px 0 0;
}

/* LOGIN FORM */
#block-user-login h2{
	display:none;
}
#user-login-form{
	padding: 5px 15px;
}
#user-login-form label{
	display:none;
	font-weight: normal;
}
#user-login-form .item-list{
	position: absolute;
	height: 10px;
}
#user-login-form .item-list ul, #block-system-user-menu ul.menu{
	list-style: none;
	margin:0;
	padding:0;
}
#user-login-form .item-list li{
	float:left;
}
#user-login-form .item-list li a{
	font-size: 0.8em;
}
#block-system-user-menu .menu__link{
	float:left;
	font-size: 0.8em;
}
#user-login-form .item-list li.first {
	margin-right: 10px;
}
#user-login-form .form-actions {
	float: right;
	position: relative;
	text-align: right;
	top: -32px;
	width: 82px;
}
#user-login-form .form-item, #block-system-user-menu .menu{
	margin:8px 0 !important;
}
#user-login-form .form-text {
	border: 1px solid #999;
	font-size: 0.9em;
	padding: 3px;
	width: 177px;
}
#user-login-form #edit-pass {
	/*margin-left: 3px;*/
}
#user-login-form .form-submit {
	background-color: #4f75b1;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin-right: 12px;
	padding: 6px 13px;
	text-transform: uppercase;
}
#block-system-user-menu .menu__item.is-leaf {
	list-style-image: none;
	list-style-type: none;
}
#block-system-user-menu{
	margin-bottom: 50px;
}
#block-system-user-menu .menu .first a {
	margin-right: 10px;
}

/* COMMENTS SECTION */
#comments {
	border: 1px solid #dde;
	border-radius: 5px;
	margin-top: 15px;
	padding: 15px;
}
.comments__form-title {
	border-bottom: 1px solid #999;
}


/* EDITORIAL BOARD */
.boardWrapper p {
	float: left;
	width: 30%;
}


/* FOOTER  */
#footer {
	background: #586683;  
	border-top: 1px solid #999;
	color: #CCCCCC;
	font-size: 0.8em;
	line-height: 1.5em;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 10px;
}
#footer p{
	margin:0;
	padding:0;
}
#footer .intro{
	margin-top: -15px;
	padding-left: 7px;
}
#footer a {
	color: #EEEEEE;
	font-size: 99%;
	text-decoration:none;
	vertical-align: top;
}
#footer a:hover {
	text-decoration:underline;
}
#footer h4 {
	border-bottom: solid 1px #999;
	font-weight:normal;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 0;
}
#footer ul{
	list-style:none;
	margin:0 0 20px;
	padding:0;
}

#main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }
#navigation {
	position: absolute;
	top: 0;
	height: 32px;
	width: 100%;
}
/* registration form */
.page-user-register #edit-account .form-item-name .description {
	display: none;
}
.page-user-register #edit-account .form-item-mail label {
	text-transform: capitalize;
}
.page-user-register #edit-field-first-given-name {
	float: left;
}
.page-user-register #edit-field-last-family-name {
	float: left;
	margin-left: 30px;
}
.page-user-register #edit-field-organization, .page-user-register #edit-field-country-list {
	clear: both;
}
.page-user-register #edit-field-city {
	float: left;
}
.page-user-register #edit-field-state-province-us, .page-user-register #edit-field-zip-postal-code {
	float: left;
	margin-left: 20px;
}
.page-user-register #edit-actions {
	margin-top: 20px;
}
/* registration form end */

.page-node .label a {  /* label link for pages like http://www.stemcellsportal.com/content/ipsc-perfection */
	color: #74accc;
}

/* journal landing page begin */
.journal-landing .panel-2col-stacked .panel-col-first {
	width: 64% !important;
}
.journal-landing .panel-2col-stacked .panel-col-last{
	width:36%;
}
.journal-landing .menu-sc, .journal-landing .menu-sctm{
	float: left;
	width: 140px;
}
.journal-landing .menu-sc a, .journal-landing .menu-sctm a{
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 0.9em;
	line-height: 13px;
	margin-bottom: 6px;
	padding: 8px 5px;
	text-align: center;
	text-decoration: none;
}
.journal-landing .menu-sc a{
	background: #465787; /* dark blue */
}
.journal-landing .menu-sctm a{
	background: #6B6484; /* dark purple */
}
.journal-landing .menu-sc a:hover {
	background: #4D6DA7;  /* light blue */
}
.journal-landing .menu-sctm a:hover{
	background:#9994AA; /* light purple */
}
.journal-landing .menu-sc br, .journal-landing .menu-sctm br{
	display:none;
}
.journal-landing .html-box-sc, .journal-landing .html-box-sctm{
	/*border: 2px solid #5F6590;*/
	height: 140px;
	margin-left: 150px;
	/*padding: 7px;*/
}
.journal-landing .html-box-sctm{
	background: #e4f3ff;
	height: 148px;
}
.journal-landing #content div.panel-col-last.panel-panel .inside {
	border-left: 1px solid #ccc;
	margin-top: -25px;
	padding-left: 15px;
}
.journal-landing h2 a {
	margin-bottom: 5px;
}
.journal-landing .inside h2{
	color: #000 !important;
	margin-bottom:5px;
}
.journal-landing .view-views-sister-journals-stem-cells-current-issue-page h2,
.journal-landing .view-views-sister-journals-sctm-current-issue-page h2{
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0;
}
.journal-landing .view-views-sister-journals-stem-cells-current-issue-page h2.field-content a,
.journal-landing .view-views-sister-journals-sctm-current-issue-page h2.field-content a {
	font-size: 17px !important;
	margin-bottom: 10px;
}

.journal-landing #content .views-field-title a {
 	font-size: 13px;
}
.journal-landing #content .views-field-title {
	line-height: 12px;
	margin-top: -2px;
	padding-bottom: 10px;
}
.journal-landing #content .views-row {
	margin-bottom: 7px;
}
.journal-landing .panel-col-first .inside .pane-views .view{
	font-size:10px;
}
.journal-landing .panel-col-first .inside .pane-views .view a {
	font-size: 13px;
	text-decoration: none;
}
.journal-landing ul {
	margin: 0;
}
.journal-landing .panel-col-first .inside .pane-views .view h2 a {
	border: none;
}
.journal-landing ul li a {
	color: #435080;
	font-weight: bold !important;
	display: block;
}
.journal-landing ul li {
	line-height: 1.5em;
	margin-bottom: 7px;
}
/* journal landing page end */

/* weeklyroundUp-block */
.weeklyroundUp-block .background {
	margin-top: -5px !important;
	padding: 10px;
}
.weeklyroundUp-block .weekly-roundup-date {
	font-size: 15px !important;
}
.weeklyroundUp-block .background p {
	line-height: 14px;
	margin-bottom: 0;
	margin-top: 12px;
}
.weeklyroundUp-block .background a {
	text-decoration: none;
	font-size: 0.85em;
}
.weeklyroundUp-block .background a:hover {
	text-decoration:underline;
}
/* weeklyroundUp-block end */
.views-field-nothing { /* discuss button on the homepage */
	margin-top: 7px;
}
/* references on journal club discussions articles */
.references:hover{
	cursor:pointer;
	text-decoration:underline;
}
/* webform styles */
.node-type-webform .webform-component-checkboxes { line-height: 23px; letter-spacing: 0.5px; } 
.node-type-webform .submitted{display:none;}



/* RESPONSIVE CSS */
@media all and (max-width: 480px) {  
  #homePanel .panels-flexible-region{
	  width: 100%;
  }
  #footer .region {
	width: 100%;
	float:none;
  }
  .region-top img{
 	 max-width: 100%;
  }
  .region-top iframe{
	  width:100%;
  }
  #navigation{
	  height:auto;
	  z-index: 10;
  }
  #navigation .menu li{
	  display:block;
  }
  #navigation .links li, #navigation .menu li{
	  float:none !important;
  }
  #superfish-1-toggle {
	color: white;
	padding: 8px 0;
	display: block;
  }
/*  ul.sf-menu.sf-accordion ul {
	margin: 0 0 34px 0;
  }
*/  #navigation .menu {
	margin: 0 0 14px 0 !important;
  }
  #superfish-1-accordion, #superfish-1-accordion li, #superfish-1-accordion li ul{
	  float:none;
	  display:block;
	  list-style:none;
  }
  #navigation .menu li{
	  height:auto;
  }
  #navigation .menu li a{
	  height:auto;
	  padding: 10px 15px 5px;
  }
  .sf-has-clone-parent .last {
	border-bottom: 1px solid #7982A0;
  }
  #homePanel .panels-flexible-row:nth-child(2) .panels-flexible-region-first:nth-child(1){
	  border-right:none;
  }
  #homePanel .panels-flexible-row:nth-child(3) .panels-flexible-region:nth-child(2){
	  border-left:none;
	  border-right:none;
  }
  .page-user-register .region-sidebar-second {
	display: none;
}
.page-user-register #content {
	width: 100% !important;
}


}
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 1024px) {

.page-user-register .region-sidebar-second {
	display: none;
}
.page-user-register #content {
	width: 100% !important;
}

  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* Span 2 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 65%;
    margin-left: 34%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 34%;
    margin-left: 0%;
    margin-right: -34%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
#page{
	max-width: 100%;
	padding-left: 5px;
}
  /* Span 2 columns, starting in 1st column from left. */
.sidebar-second #content {
	float: left;
	margin-left: 0%;
	margin-right: -65%;
	width: 65%;
}

  /* Span 1 column, starting in 3rd column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    margin-left: 65%;
    margin-right: -100%;
    width: 35%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* Start a new row and span all 3 columns. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }

  /* Apply the shared properties of grid items in a single, efficient ruleset. */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/path/to/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* Span 1 column, starting in the 1st column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }

  /* Span 1 column, starting in the 2nd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in the 3rd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */

   /* Span 4 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 4 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 68%;			  /* was 80 */
    margin-left: 0%;
    margin-right: -68%;  /* was 80 */
	padding-right: 0;
  }

  /* Span 1 column, starting in 5th column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 30%;			/* was 20 then margin-left 80 */
    margin-left: 70%;  
    margin-right: 0; /* was -100% */
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 3 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
